@inherits LayoutComponentBase
<RadzenLayout>
    <RadzenHeader>
        <div class="row">
            <div class="col-6 text-start">
                <RadzenLabel Text="Header" class="text-center mb-2" />
                <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            </div>
            <div class="col-6 text-end">
                <Profile />

            </div>
        </div>

    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">

        <div class="rz-p-4">
            <NavMenu />
        </div>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        Footer
    </RadzenFooter>
    <RadzenDialog />
    <RadzenNotification />
    <RadzenContextMenu />
    <RadzenTooltip />
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;
}